
.header{
	height: 100px;
	background: #181848; 
	font-size: 45px;
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	width:100%;
	border-bottom: 3px solid gray;
	border-top: 3px solid gray;
	margin-top:1%;
	opacity:.8;
}

div#memory_board { 
	background-color:#999;
	background-size: cover;
	background-repeat: no-repeat;
	border:1px solid black;
	width:85%;
	padding:25px;
	margin:0px auto;
	margin-top: 1%;
	background-position: center center; 
	border-radius: 6px;
 }

.card { 
	height:160px;
	width:100%;
	border: 1px solid black;
	background-image: url('../images/israelFlag.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center; 
	border-radius: 6px;
 }

 .card:hover { 
 	opacity:.6;
  }

button { 
	color:white;
	background-color: #181848;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 26px;
	border-radius: 6px;
	border-color: 3px black;
	height:100px;
	width:150px;
	position: absolute;
    left: 45%;
 }

 span { 
    border: 1px dashed white;
    border-radius: 4px;
    color: white;
    position: absolute;
    left: 30%;
    background: #181848;
    margin-top: 2%;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
  }

 button:hover { 
 	color:#181848;;
 	background-color: white;
 	border-color: 3px black;
  }

 #israelPic { 
 	height:50px;
 	width:50px;
 	margin-left: 10px;
    margin-right: 10px;
 }

h1 {
	position: absolute;
	text-align: center;
	width:100%;
	position:relative;
}

.col-md-2, .col-sm-4, .col-xs-6 { 
	padding-top: 12px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 12px;
 }

@media screen and (max-width: 1143px){ 

span{ 
	display:none;
}
		 
}

